body {
    background-color: #edf2ff;
    font-family: sans-serif, Arial;
    text: black;
    /* width: 100% */
}

header {
    background-image: url(../images/yianni-mathioudakis-ueOilE1blwQ-unsplash.jpg);
    background-size:cover;
    display: flexbox;
    flex-direction: column;
}

nav ul li {
    align-content: center;
    align-items: center;
    display:inline;
    margin: 1em auto;
    text-align: center;
    padding: 20px;
    width:auto;
    color: black;
}
a:hover {
    color: #1864ab;
}
a{
    text-decoration: none;
    color: black;
}
.writeUs {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
} 

h2 {
    font-family: sans-serif, arial;
    font-size: 45px;
    text:black;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    float: left;
    position: relative;
    border: none;
    padding: 10px
}
fieldset {
    padding:8px, 16px;
}

